.Portfolio {
    background-color: #A4A6A5;
    width: 960px;
    padding: 30px;
    margin: 15px 480px;
    flex-wrap: wrap;
}
h2 {
    padding: -20px;
}







.Thing1 {
    background-color: yellow;
    float: left;
    height: 250px;
    width: 325px;
    font-size: 24px;
    text-align: center;
    margin: 30px 30px 20px 0px;
}
.Thing2 {
    background-color: green;
    float: left;
    height: 250px;
    width: 325px;
    font-size: 24px;
    text-align: center;
    margin: 30px 30px 20px 0px;
}
.Thing3 {
    background-color: orchid;
    float: left;
    height: 250px;
    width: 325px;
    font-size: 24px;
    text-align: center;
    margin: 30px 30px 20px 0px;
}
.Thing4 {
    background-color: lightgreen;
    float: left;
    height: 250px;
    width: 325px;
    font-size: 24px;
    text-align: center;
    margin: 30px 30px 20px 0px;
}
.Thing5 {
    background-color:gray;
    float: left;
    height: 250px;
    width: 325px;
    font-size: 24px;
    text-align: center;
    margin: 30px 30px 20px 0px;
}

.Thing6 {
    background-color: #fff;
    float: left;
    height: 200px;
    width: 200px;
    font-size: 24px;
    text-align: center;
}
.Thing7 {
    background-color: brown;
    float: left;
    height: 200px;
    width: 200px;
    font-size: 24px;
    text-align: center;
}
.Thing8 {
    background-color: blue;
    float: left;
    height: 200px;
    width: 200px;
    font-size: 24px;
    text-align: center;
}
.Thing9 {
    background-color: pink;
    float: left;
    height: 200px;
    width: 200px;
    font-size: 24px;
    text-align: center;
}
.Thing0 {
    background-color:red;
    float: left;
    height: 200px;
    width: 200px;
    font-size: 24px;
    text-align: center;
}