.Portfolio {
    position: relative;
    background-color: #A4A6A5;
    width: 960px;
    padding: 20px;
    margin: 15px 480px;
    flex-wrap: wrap;
}
.clearfix {
    overflow: auto;
}

.goal1 {
    background-color: blue;
    padding: 15px;
    width: 295px;
    height: 25px;
    position: absolute;
    margin-left: 20px;
}
