body {
    position: relative;
    background-color: #51232D; /* Used if the image is unavailable */
    color: #262323;
}



section {
    background-color: #8C3E44;
    height: 75px;
    margin: -8px -8px 20px -8px;
}

h1 {
    background-color: #403236;
    float: left;
    text-align: center;
    padding: 24px;
    margin: 0px;
    margin-left: 475px;
    position: relative;
    color: #A4A6A5;
}

#box3 {
    _background-color: blue;
    float: right;
    padding: 28px 30px;
    margin: 0px;
   
}

#box2 {
    _background-color: yellow;
    float: right;
    padding: 28px;
    margin: 0px;
    
}

#box1 {
    _background-color: red;
    float: right;
    padding: 28px 35px;
    margin: 0px;
    margin-right: 400px;
    
}







.About{
    background-color: #A4A6A5;
    width: 960px;
    padding: 20px;
    margin: 15px 480px;
    flex-wrap: wrap;
}
img {
    height: 250px;
    padding: 20px;
    float: left;
}
p {
   _background-color: tan; 
   font-size: 22px;
   


}
