body {
    background-image: url(what-the-hex-dark.png);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}



section {
    background-color: green;
    height: 100px;
}

h1 {
    background-color: purple;
    float: left;
    text-align: center;
}

#box3 {
    background-color: blue;
    float: right;
}

#box2 {
    background-color: yellow;
    float: right;
}

#box1 {
    background-color: red;
    float: right;
}







.About{
    background-color: pink;
    height: 550px;
    padding: 20px;
}
h2 {

}
img {
    height: 250px;
    padding: 20px;
    float: left;
}
p {
   background-color: tan; 
   font-size: 22px;
}
